
@font-face {
    font-family: 'rimouskisemibold';
    src: url('../fonts/rimouski_sb-webfont.eot');
    src: url('../fonts/rimouski_sb-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/rimouski_sb-webfont.woff2') format('woff2'),
         url('../fonts/rimouski_sb-webfont.woff') format('woff'),
         url('../fonts/rimouski_sb-webfont.ttf') format('truetype'),
         url('../fonts/rimouski_sb-webfont.svg#rimouskisemibold') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'luzro';
    src: url('../fonts/LUZRO.eot');
    src: url('../fonts/LUZRO.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'darkwomanregular';
    src: url('../fonts/darkwoman-webfont.eot');
    src: url('../fonts/darkwoman-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/darkwoman-webfont.woff2') format('woff2'),
         url('../fonts/darkwoman-webfont.woff') format('woff'),
         url('../fonts/darkwoman-webfont.ttf') format('truetype'),
         url('../fonts/darkwoman-webfont.svg#darkwomanregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

html,body{
	height:100%;
  font-family: 'luzro';
}

h1,h2,h3,h4,h5,h6{
  font-family: 'rimouskisemibold';
}

a, a:hover, a:focus, a:active{
  text-decoration: none;
}

.no-padding{
	padding:0;
}

.img-responsive{
  width:100%;
}

.img-height-responsive{
  height:100%;
  width:auto;
}

.container-fluid {
    padding-right: 0px;
    padding-left: 0px;
    height: 100%;
    overflow-x:hidden;
}

.form-control {
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857;
    color: #555;
    background-color: rgba(255,255,255,0.8);
    background-image: none;
    border: 1px solid #CCC;
    border-radius: 6px;
    box-shadow: none;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}

.form-control::-webkit-input-placeholder {
   color: #176169;
}

.form-control:-moz-placeholder { /* Firefox 18- */
   color: #176169;  
}

.form-control::-moz-placeholder {  /* Firefox 19+ */
   color: #176169;  
}

.form-control:-ms-input-placeholder {  
   color: #176169;  
}

.round-corners{
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

.toggle-btn{
  position: absolute; 
  right: 40px;
  top: 17px;
  cursor: pointer; 
  padding: 10px 35px 16px 0px;
  z-index: 1031;
}

.toggle-btn span, .toggle-btn span:before, .toggle-btn span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 3px;
  width: 33px;
  background: #108885;
  position: absolute;
  display: block;
  content: '';
}

.toggle-btn span:before {
  top: -10px; 
}
.toggle-btn span:after {
  bottom: -10px;
}

.toggle-btn span, .toggle-btn span:before, .toggle-btn span:after {
  -webkit-transition: -webkit-transform .4s cubic-bezier(.16, .68, .43, .99);
  -moz-transition: -moz-transform .4s cubic-bezier(.16, .68, .43, .99);
  -o-transition: -o-transform .4s cubic-bezier(.16, .68, .43, .99);
  transition: transform .4s cubic-bezier(.16, .68, .43, .99);
  /* improves performance issues on mobile*/
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
}
.toggle-btn.active span {
  background-color: transparent;
  
}
.toggle-btn.active span:before, .toggle-btn.active span:after {
  top: 0;
  height:2px;
  width: 25px;
}
.toggle-btn.active span:before {
  transform: rotate(45deg);
}
.toggle-btn.active span:after {
  transform: rotate(-45deg);
}



.inicio{
  position: relative;
  min-height: 1010px;
  background-color: #B4E1E1;
}

.inicio .header{
  background-color: #FFF;
  position: absolute;
  top:0;
  height:50px;
}

.inicio .logo{
  margin-top: 24px;
  margin-bottom: 20px;
}

.inicio .bg-img{
  position: absolute; 
  display: block;
  margin: 0 auto;
  text-align: center;
  margin-left: -60%;
  z-index: 0;
}

.inicio ul{
  position: relative;
  z-index: 2;
  width: 100%; /* or your desired width */
  text-align: center; 
  margin-top: 10%;
}

.inicio ul > li{
  background-color: rgba(255,255,255,0.9);
  display: inline-block; /* the key bit */
  *display: inline; /* IE7 hack */
  *zoom: 1; /* IE7 hack */
  width: 150px;
  height:150px;
  margin:0 85px 10px;
  padding-top: 45px;
  top:0;
}

.inicio ul >li:first-child{
  position: relative;
  padding-top: 55px;
}

.inicio ul >li:last-child{
  position: relative;
  padding-top: 65px;
}

.inicio ul > li > a{
  color: #28958D;
  font-weight: bold;
} 

.inicio footer{
  position: absolute;
  bottom: 0;
  background-color: #28958D;
  color:#FFF;
  padding-top: 10px;
  padding-bottom: 5px;
}

.impactamos{
  position: relative;
  background: url(../img/photo_40267_20150822.jpg) no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.impactamos .layer{
  position: absolute;
  z-index: 0;
  background-color:rgba(195,159,195,0.5);
  width: 100%;
  height:88%;
  top:0;
  left: 0;
}

.impactamos .letter{
  position: relative;
  right:0;  
}

.impactamos .letter img {
    position: absolute;
    right: -5px;
    height: 225px;
    margin-top: 27px;
}

.impactamos .left{
  margin-top: 5.5%;
  position: relative;
  left: -1.5%;
}

.impactamos h2{
  font-size: 2.1em;
  color: #FFF;
}

.impactamos p {
  font-size: 1em;
  font-weight: bold;
  margin-top: 15px;
  padding-right: 0;
  padding-left: 0;
  color: #FFF;
}

.impactamos .redessociales {
    margin-bottom: 92px;
}

.impactamos .impactamosfooter{
  height: 12%;
  position: absolute;
  bottom: 0;
  padding-top:10px;
  padding-bottom:10px;
}

.impactamos .impactamosfooter .col-xs-4{
  height: 100%;
  text-align: center;
}

.impactamos .impactamosfooter p{
  text-align: right;
  color: #FFF;
  font-size: 0.98em;
  font-weight: bold;
}

.impactamos .captchalogo{
    padding-top: 5px;
  }

.somos{
  position: relative;
  padding-bottom: 50px;
  background: url(../img/7.jpg) no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.somos .somos-img{
  position: absolute;
  left: 0;
  top: 0;
  height: auto;
  width: 100%;
  z-index: 1;
}

.somos h2, .somos p{
  position: relative;
  color:#FFF;
  z-index: 2;
}

.somos h2.somosh{
  font-family: 'luzro';
  font-size: 2.6em;
  margin-top: 13px;
}

.somos h2.recorrido{
  position: relative;
  left: -12%;
  font-family: 'luzro';
  font-size: 1.9em;
  margin-top: 18%;
  padding-right:10px;
  padding-top: 15px;
  padding-bottom: 22px;
  z-index: 0;
  margin-bottom: 7%;
  text-align: right;
  background: #41bdb5; /* Old browsers */
  background: -moz-linear-gradient(left, #41bdb5 0%, #15727a 50%, #15727a 51%, #002a36 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,#41bdb5), color-stop(50%,#15727a), color-stop(51%,#15727a), color-stop(100%,#002a36)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, #41bdb5 0%,#15727a 50%,#15727a 51%,#002a36 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, #41bdb5 0%,#15727a 50%,#15727a 51%,#002a36 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left, #41bdb5 0%,#15727a 50%,#15727a 51%,#002a36 100%); /* IE10+ */
  background: linear-gradient(to right, #41bdb5 0%,#15727a 50%,#15727a 51%,#002a36 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#41bdb5', endColorstr='#002a36',GradientType=1 ); /* IE6-9 */
}

.somos h2.recorrido::after {
  bottom: -20px;
  left: auto;
  right: -60px;
  border: 30px solid #1D53C0;
  border-right-color: transparent;

  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
}

.somos p {
  font-size: 1em;
  font-weight: bold;
  margin-top: 15px;
  padding-right: 0;
  padding-left: 0;
  text-align: center;
}

.experiencias{
  position: relative;
  height:100%;
}

.experiencias .hero{
  position: absolute;
  z-index: 1;
  color: #FFF;
  width: 100%;
  text-align: center;
  font-weight: bold;
  bottom: 45%;
  font-size: 0.9em;
}

.experiencias .col-sm-6{
  height:100%;
}

.experiencias h2 {
  color: #FFF;
  font-size: 2em;
  font-family: "luzro";
  font-weight: bold;
  margin-top: 25%;
}

.experiencias .expone,
.experiencias .exptwo{
  height:50%;
}

.experiencias .expone{
  background: url(../img/vivencial-fondo-1.png) no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.experiencias .exptwo{
  background: url(../img/vivencial-fondo-2.png) no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.experiencias .btn{
  margin: 20px auto 0;
  display: block;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  padding-top: 2px;
  padding-bottom: 2px;
  font-size: 1.8em;
}

.btn-gold,
.btn-gold:focus,
.btn-gold:hover,
.btn-gold:active{
  background-color: #CEBD39;
  border-color: #CEBD39;
  color: #FFF;
}

.btn-blue,
.btn-blue:focus,
.btn-blue:hover,
.btn-blue:active{
  background-color: #2477B9;
  border-color: #2477B9;
  color: #FFF;
}

.ejecucion{
  height: 110%;
  position: relative;
  background: url(../img/bgejecucionsmt.jpg) no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.ejecucion .left{
  background-color: rgba(158,31,99,0.7);
  color: #FFF;
}


.ejecucion .left::before {
  position: absolute;
  content: "";
  width: 0px;
  height: 0px;
  border-right: 160px solid transparent;
  bottom: -100px;
  border-top: 100px solid rgba(158,31,99,0.7);
  border-left: 160px solid transparent;
}

.ejecucion h2{
  font-family: "luzro";
  font-size: 2.1em;
  margin-top: 13px;
}

.ejecucion p{
  font-weight: bold;
  margin:10px 10%;
  font-size: 0.9em;
}

.caracteristicas{
  background: url(../img/file4421243236063.jpg) no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
  
}

.caracteristicas .layer{
  padding-bottom: 20px;
}

.caracteristicaslogo{
  margin-top: 10px;
}

.caracteristicas .texto{
  color: #4C4E53;
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 10px;
  border:solid 5px transparent;
  border-radius: 125%/100px 100px 0 0;
  padding-top: 55px;
}

.caract{
  margin-top: 15px;
}

.caract > li {
  position: relative;
  color: #FFF;
  font-size: 1.2em;
  font-weight: bold;
  padding-top: 25px;
  padding-bottom: 18px;
  margin-bottom: 15px;
  padding-left: 55px;
  height: 68px;
}
.caract > li:nth-child(odd) {
  background-color: #268E87;
}
.caract > li:nth-child(even) {
  background-color: #176169;
}

.caract > li:before{
  position: absolute;
  content: "";
  width: 0px;
  height: 0px;
  border-top: 34px solid transparent;
  border-bottom: 34px solid transparent;
  top: 0;
}

.caract > li:after{
  position: absolute;
  content: "";
  width: 0px;
  height: 0px;
  border-top: 34px solid transparent;
  border-bottom: 34px solid transparent;
  top: 0;
}

.caract > li:nth-child(odd):after {border-left: 34px solid #268E87; right: -34px;}
.caract > li:nth-child(even):after {border-right: 34px solid #268E87; right: 0px;}

.caract > li:nth-child(even):before {border-right: 34px solid #176169; left: -34px;}
.caract > li:nth-child(odd):before {border-left: 34px solid #176169; left: 0px;}


.academy{
  background: url(../img/andreeeplaymobil002.jpg) no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
  
}

.academy .layer{
  padding-bottom: 20px;
}

.academylogo{
  margin-top: 10px;
}

.academy .texto{
  color: #4C4E53;
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 10px;
  border:solid 5px transparent;
  border-radius: 125%/100px 100px 0 0;
  padding-top: 55px;
}

.galeria h2.title {
  margin-top: 40px;
  margin-bottom: 30px;
}

.galeria h2 {
    font-family: "luzro";
    font-size: 2.1em;
    margin-top: 13px;
    color:#016069;
}

.galeria .gallery-photo{
  background:url(../img/bggaleria.svg) repeat;
  height:260px;
}

.galeria .gallery-titles h2{
  font-family: "rimouskisemibold";
  font-size: 2em;

}

.contact .layer,
.caracteristicas .layer{
  position: relative;
	width: 100%;
	height: 100%;
	background-color: rgba(255,255,255,0.3);
}

.contact .layer{
  height: 770px;
}

.contact .layer h2{
	color:#176169;
}

.contact .layer p{
	color:#176169;
	background-color: rgba(255,255,255,0.9);
	padding:10px;
	margin-bottom:25%;
  font-size: 20px;
  border-radius: 6px;
}

.contact .form-control{
  font-size: 20px;
}

.contact .btn{
  margin: 20px auto 0;
  display: block;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  padding-top: 2px;
  padding-bottom: 2px;
  font-size: 1.8em;
  color: #176169;
  background-color: #FFF;
}

.btlvivencial{
  height: 100%;
}

.btlvivencial .bgbtlvivencial{
  background: url(../img/fondo-payaso.jpg) no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100%;
}

.btlvivencial h1{
  font-family: "luzro";
  color: #006069;
  margin-top: 0;
  padding-top: 20px;
}

.btlvivencialtitulo{
  width: 238px;
  position: relative;
  top: -6px;
}

.btlvivencial .heroone,
.btlvivencial .herotwo{
  font-size: 1.2em;
} 

.btlvivencial .heroone{
  color:#FFF;
  padding-right: 5px;
  padding-left: 5px;
  text-align: justify;
  margin-bottom: 0px;
  padding-bottom: 25px;
}

.btlvivencial .herotwo{
  color:#FFF;
  font-weight: bold;
}

.btlimages{
  position: relative;
  height: 100%;
  overflow: hidden;
}

.btlvivencial .imgone{
  position: absolute;
  width: 75%;
  top:0;
  left:0;
  z-index: 1;
}

.btlvivencial .imgtwo{
  position: absolute;
  width: 50%;
  top:0;
  right:0;
  z-index: 2;
}

.btlvivencial .imgthree{
  position: absolute;
  width:60%;
  bottom: 0;
  left: 0;
  z-index: 3;
}

.btlvivencial .imghero{
  font-family: "luzro";
  position: absolute;
  width: 100%;
  top: 32.3%;
  left: 0px;
  background-color: rgba(255, 255, 255, 0.3);
  color: #FFF;
  text-align: center;
  font-size: 1.3em;
  padding: 15px 18%;
  z-index: 4;
}

.btlvivencialinfo{
  padding:10px 5%;
  background-color: #05A89E;
  color:#FFF;
  text-align: center;
  font-size: 1.3em;
}

.logistica{
  background: url(../img/bg-logistica-smartphone.jpg) no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.mobile-logistica{
  background-color: rgba(255,255,255,0.5);
}

.logistica h1{
  font-family: "luzro";
  padding-top: 10%;
  font-size: 2em;
  color:#006069;
}

.logistica h2{
  font-family: "luzro";
  width: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  color: #6D6E70;
  text-align: center;
  font-size: 1.2em;
  padding: 15px 18%;
  font-weight: bold;
}

.logisticahero{
  font-family: "luzro";
  background-color: #FFF;
  color:#006069;
  margin-bottom: 20px;
  font-size: 1em;
  padding:5px 10px;
}

ul.listalogisticaone,
ul.listalogisticatwo{
  font-size:1em;
}

ul.listalogisticaone{
 margin-bottom: 0px;
}

ul.listalogisticaone > li {
  height:110px;
  color:#FFF;
  text-align: center;
  padding-top: 45px;
}

ul.listalogisticaone > li:nth-child(1){
  background-color: #006069;
  margin-bottom: 10px;
}
ul.listalogisticaone > li:nth-child(2){
  background-color: #067773;
  margin-bottom: 10px;
}
ul.listalogisticaone > li:nth-child(3){
  background-color: #108885;
  margin-bottom: 10px;
}
ul.listalogisticaone > li:nth-child(4){
  background-color: #05A89E;
  margin-bottom: 0px;
}

ul.listalogisticatwo{
 margin-bottom: 0px;
}

ul.listalogisticatwo > li {
  height:110px;
  color:#808284;
  text-align: center;
  padding-top: 30px;
  background-color: #F0F1F1;
  margin-bottom: 10px;
}

ul.listalogisticathree{
 margin-bottom: 0px;
 background-color: #F0F1F1;
 height:470px;
 padding-top: 84px;
}

ul.listalogisticathree > li {
  color:#808284;
  text-align: center;
  background-color: #F0F1F1;
}
ul.listalogisticathree > li:nth-child(1){
  height:110px;
  padding-top: 30px;
  font-size: 4em;
  line-height: 110px;
}
ul.listalogisticathree > li:nth-child(2){
  font-size: 3.5em;
}
ul.listalogisticathree > li:nth-child(3){
  font-size: 2em;
}
ul.listalogisticathree > li:nth-child(4){
  font-size: 1.8em;
}

.sustainable{
  position: relative;
  height: 100%;
  background: url(../img/bgsustentable.svg) no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.sustainable h1{
  margin-top: 21%;
  color:#FFF;
  font-size: 9em;
  line-height: 80px;
  font-family: 'luzro';
}

.sustainable h1 span{
  color:#FFF;
  font-size: 0.6em;
}

.sustainable .btndown{
  background-color: #FFF;
  border: none;
  color:#FED53C;
  padding: 5px 14px;
  font-size: 40px;
  margin-top: 2%;
}

.sustainable .btndown span{
  position: relative;
  top:9px;
}

.sustainabletwo .hero{
  font-family: 'darkwomanregular';
  color:#1A9774;
  font-size: 6em;
}

.sustainabletwo p{
  font-family: "rimouskisemibold";
  color: #221F20;
  font-size: 1.4em;
}

.sustainabletwo p.herotwo{
  color: #1A9774;
  margin-top: 20px;
  margin-bottom: 20px;
}

@media (min-width:360px){
  .ejecucion{
    height: 100%;
  }

  .ejecucion .left::before {
    position: absolute;
    content: "";
    width: 0px;
    height: 0px;
    border-right: 180px solid transparent;
    bottom: -100px;
    border-top: 100px solid rgba(158,31,99,0.7);
    border-left: 180px solid transparent;
  }
  
  .ejecucion h2 {
      font-size: 2.4em;
      margin-top: 20px;
  }

  .experiencias h2 {
    margin-top: 30%;
  }

  .galeria h2 {
      font-size: 2.4em;
      margin-top: 20px;
  }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { 
  
  .inicio{
    min-height: 100%;
  }

  .inicio .header{
    height:88px;
  }

  .inicio .logo{
    margin-top: 40px;
    margin-left: 3%;
    margin-bottom: 0px;
  }

  .inicio ul{
    margin-top: 55%;
  }

  .inicio ul > li{
    margin:0px;
  }

  .inicio ul >li:first-child{
    top: -10px;
  }
  
  .inicio ul >li:last-child{
    top: -20px;
  }

  .impactamos{
    height:100%;
  }
  
  .impactamos .letter{
    height: 60%;  
    padding-top: 4%
  }
  
  .impactamos .letter img{
    right: 0;
    height:68%;
    margin-top: 0
  }

  .impactamos h2{
    font-size: 3.3em;
    color: #575756;
  }

  .impactamos p {
    font-size: 1.5em;
    margin-top: 10%;
    text-align: left;
    color: #575756;
  }

  .impactamos .redessociales{
    margin-top: 17%;
    margin-bottom: 0;
  }
  
  .impactamos .impactamosfooter{
    height:12%;
    background-color:rgba(195,159,195,0.5);
  }  

  .impactamos .impactamosfooter p{
    font-size: 1.8em;
    padding-top: 7%;
  }

  .impactamos .cannedlogo{
    height: 100%;
    display: inline-block;
    text-align: center;
  }

  .impactamos .captchalogo{
    padding-top: 17px;
  }
  
  .somos h2.somosh{
    font-size: 5em;
    margin-top: 10%;
  }

  .somos h2.recorrido {
    margin-top: 26%;
    font-size: 2.6em;
  }

  .somos p{
    font-size: 1.8em;
    margin-top: 5%;
    padding-right: 75px;
    padding-left: 70px;
    text-align: left;
  }
  
  .experiencias .hero{
    bottom:45%;
    font-size: 1.9em;
  }
  
  .experiencias h2{
    font-size: 3em;
    margin-top: 220px;
  }
  
  .ejecucion h2 {
    font-size: 5em;
    margin-top: 10%;
  }
  
  .ejecucion p {
    margin: 45px 10%;
    font-size: 1.5em;
  }

  .ejecucion .left::before {
      border-right: 384px solid transparent;
      bottom: -100px;
      border-top: 100px solid rgba(158,31,99,0.7);
      border-left: 384px solid transparent;
  }

  .caracteristicas .contentspace{
    margin-top: 6%;
  }

  .academy {
    height: 100%;
  }

  .academy .layer{
    padding-bottom: 0px;
  }

  .academy .wplogo{
    margin-top:50px;
    margin-bottom:20px;
  }

  .galeria h2 {
    font-size: 5em;
    margin-top: 10%;
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) { 
  
  .inicio .bg-img{
    margin-left: 5%;
  }

  .inicio ul{
    margin-top: 30%;
  }

  .inicio ul > li{
    margin:0 24px;
  }
  
  .impactamos .letter img{
    height:100%;
  }

  .impactamos .impactamosfooter{
    height:18%;
  }

  .impactamos .impactamosfooter p{
    font-size: 2.5em;
    margin-top: 0;
  }

  .impactamos .cannedlogo{
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .impactamos .captchalogo{
    padding-top: 2%;
  }

  .somos{
    height:100%;
    padding-bottom: 0px;
  }
  
  .somos .somos-img{
    height: 100%;
    width: auto;
    left: -22%;
  }

  .somos h2.somosh{
    margin-top: 35%;
  }
  
  .experiencias .hero{
    bottom:13%;
    font-size: 1.7em;
  }

  .experiencias .expone,
  .experiencias .exptwo{
    height:100%;
  }

  .experiencias h2{
    font-size: 3em;
    margin-top: 225px;
  }
  
  .ejecucion{
    height: 100%;
    background: url(../img/bgejecucion.jpg) no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .ejecucion .left{
    height: 100%;
  }

  .ejecucion .left::before {
    display: none;
  }

  .ejecucion h2{
    font-size: 3.5em;
  }

  .ejecucion p{
    font-size: 1.2em;
    margin: 15% 10%;
  }

  .caracteristicas {
    height: 100%;
  }

  .caracteristicas .layer{
    padding-bottom: 0px;
  }

  .caract{
    margin-top: 15px;
  }

  .caract > li {
    position: relative;
    color: #FFF;
    font-size: 1.6em;
    font-weight: bold;
    padding-top: 18px;
    padding-bottom: 18px;
    margin-bottom: 15px;
    padding-left: 55px;
    height: 68px;
  }
  .caract > li:nth-child(odd) {
    background-color: #268E87;
  }
  .caract > li:nth-child(even) {
    background-color: #176169;
  }

  .caract > li:before{
    position: absolute;
    content: "";
    width: 0px;
    height: 0px;
    border-top: 34px solid transparent;
    border-bottom: 34px solid transparent;
    left: 0px;
    top: 0;
  }

  .caract > li:after{
    position: absolute;
    content: "";
    width: 0px;
    height: 0px;
    border-top: 34px solid transparent;
    border-bottom: 34px solid transparent;
    right: -34px;
    top: 0;
  }

  .caract > li:nth-child(odd):after {border-left: 34px solid #268E87;}
  .caract > li:nth-child(even):after {border-left: 34px solid #176169; right: -68px;border-right: 34px solid transparent;}

  .caract > li:nth-child(even):before {border-left: 34px solid #268E87; border-right:0 solid transparent; left:0;}
  .caract > li:nth-child(odd):before {border-left: 34px solid #176169;}

  .caracteristicas .contentspace{
    margin-top: 0;
  }
  


  .galeria h2{
    font-size: 3.5em;
  }

  .contact{
    height: 100%;
  }

  .contact .layer{
    height: 100%;
  }

  .sendtobottom{
    height:100%;
  }

  .tobottom{
    position: absolute;
    bottom:15%;
  }

  .btlvivencial .bgbtlvivencial{
    background: transparent url("../img/bgvivencial.svg") no-repeat scroll 0px 45px / 100% auto;
  }

  .btlvivencial .heroone{
    color:#006069;
    padding-bottom: 44px;
  }
  
  .btlvivencial .heroone, .btlvivencial .herotwo {
      font-size: 1em;
  }

  .logistica{
    height: 100%;
    background: url(../img/conference-picture.jpg) no-repeat center center; 
  }
  .mobile-logistica {
    background-color: transparent;
  }
  
  .logistica h1{
    color: #FFF;
    font-size: 4em;
  }
  
  .logistica h2{
    color:#FFF;
    font-size: 1.5em;
    margin-top: 17%;
  }

  .logisticahero {
    font-size:24px;
  }

  ul.listalogisticaone,
  ul.listalogisticatwo{
    font-size:1.5em;
  }

  .sustainabletwo .col-sm-6{
    padding-left:70px;
    padding-right: 70px;
  }
  
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
  .inicio .bg-img{
    margin-left: 10%;
  }
  .inicio ul{
    margin-top: 25%;
  }

  .impactamos .left{
    margin-top: 4%;
    left: -1%;
  }

  .impactamos h2{
    font-size: 3.6em;
  }

  .impactamos .captchalogo{
    padding-top: 10px;
  }

  .somos .somos-img{
    left: 0%;
  }
  
  .ejecucion h2{
    font-size: 4em;
  }

  .ejecucion p {
      margin: 10%;
  }

  .galeria h2{
    font-size: 4em;
  }

  .btlvivencial .bgbtlvivencial{
    background: transparent url("../img/bgvivencial.svg") no-repeat scroll 0px 0px / 100% auto;
  }
  .btlvivencial .heroone{
    padding-bottom: 25px;
  }
  
  .btlvivencial .heroone, .btlvivencial .herotwo {
      font-size: 1.2em;
  }
  
  .logistica h2{
    margin-top: 13%;
  }
}

/*1280 x 1024*/
@media screen and (min-width: 1280px) and (min-height: 1024px){
    .somos .somos-img {
        left: -27%;
    }
}

@media (min-width: 1600px) { 
  
  .impactamos .left {
    margin-top: 5%;
    left: -1%;
  }

  .experiencias .btn {
    margin: 70px auto 0px;
  }

  .experiencias h2 {
    margin-top: 300px;
  }

  .impactamos .captchalogo{
    padding-top: 20px;
    padding-left: 98px;
  }
  
  .ejecucion h2{
    font-size: 6em;
  }

  .caracteristicas .contentspace{
    margin-top: 6%;
  }

  .galeria h2{
    font-size: 6em;
  }

  .btlvivencial .heroone {
      padding-bottom: 120px;
  }

  .btlvivencial .imghero {
    top: 36.3%;
  }

  ul.listalogisticatwo > li {
    padding-top: 45px;
  }
}